{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="center">Home</h1>

<div class="tasks-card row z-depth-1 blue-grey lighten-5">
    <div class="col s12">
      <div class="card-content">
        <ul class="collapsible expandable">
          <li>
            <div class="collapsible-header light-blue white-text"><i class="material-icons">account_circle</i>Customer</div>
            <div class="collapsible-body white">
              <div class="row">
                <div class="col s6">Customer Name:</div>
                <div class="col s6">Company Name:</div>
              </div>
              <div class="row">
                <div class="col s12">Address:</div>
              </div>
              <div class="row">
                <div class="col s6">Order No:</div>
                <div class="col s6">Job No:</div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header pink white-text"><i class="material-icons">note</i>Work Instruction</div>
            <div class="collapsible-body white">
              <div class="row">
                <div class="col s6">Job Title:</div>
                <div class="col s6">Quantity:</div>
              </div>
              <div class="row">
                <div class="col s6">Size:</div>
                <div class="col s6">Pages:</div>
              </div>
              <div class="row">
                <div class="col s12">Job Description:</div>
              </div>
              <div class="row">
                <div class="col s6">Materials:</div>
                <div class="col s6">Sheet Size:</div>
              </div>
              <div class="row">
                <div class="col s6">Printing:</div>
                <div class="col s6">Finishing</div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header yellow"><i class="material-icons">local_shipping</i>Delivery</div>
            <div class="collapsible-body white">
              <div class="row">
                <div class="col s6">Delivery Method:</div>
                <div class="col s6">Delivery Date:</div>
              </div>
              <div class="row">
                <div class="col s12">Delivery Address:</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div class="card-action center-align">
        <a href="" class="btn-small green">Done</a>
        <a href="" class="btn-small teal accent-4">Edit</a> 
      </div> -->
    </div>
</div> 

{% endblock %}