.card-content p {
	font-weight: bold;
	font-size: 1.1em;
	margin-right:4px;
}

.material-icons {
	font-size: 1.5em;
	position: relative;
	top: 5px;
	margin-right: 0.5em;
}	


.collapsible-header .col strong {
    margin: 6px;
    line-height: 42px;
}

.tasks-card {
    padding: 15px 10px 10px 10px;
}
